#activity_icon {
	height: 100px;
	width: 100px;
	background-color: #eeeeee;
	visibility: hidden;
	/*border: 1px solid greenyellow;*/
	box-shadow: 3px 3px 1px #888;
}

#activity_streak {
	visibility: hidden;
	text-align: center;
}

#commit_count {
	
}